@font-face {
  font-family: digital;
  src: url("../fonts/Technology-Italic.ttf");
}
.calculadora{
  width: 40vw;
  background-color: rgb(255, 255, 255);
  border:2px rgb(58, 52, 52);
  border-style:solid;
  border-radius: 10px;
  box-shadow: 20px 20px 20px;
  padding-bottom: 2vw;
  


}

.logo{
  font-size: 2vw;
  font-weight: bolder;
}
.status{
  font-size: 2vw;
  margin-bottom: -1.5vw;
}
.value-visor{
  margin-top: -1.5vw;
  margin-bottom: -1.5vw;
}


.visor{
  background-color: black;
  color: white;
  font-family: digital;
  font-size: 5vw;
  width: 36vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 10px grey;
  border-style: inset;
  padding-left: 2vw;
  padding-right: 1vw;

  
}

.image-solar{
  width: 10vw;
}
.keyboard{
  width: 6vw;
  height: 6vw;
  font-size: 3vw;
  border: inset 5px grey;
  display: inline-block;
  text-align: center;
  text-justify: center;
  padding-top: auto;
  padding-bottom: auto;
  user-select: none;
  cursor: pointer;

}
.keyboard:active{
  border:inset 2px grey;
}