@font-face {
  font-family: digital;
  src: url("../fonts/Technology-Italic.ttf");
}
.calculadora{
  width: 40vw;
  background-color: rgb(255, 255, 255);
  border:2px rgb(58, 52, 52);
  border-style:solid;
  border-radius: 10px;
  box-shadow: 20px 20px 20px;
  


}

.logo{
  font-size: 2vw;
  font-weight: bolder;
}
.visor{
  font-family: digital;
  font-size: 2vw;
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  width: 35vw;
  border: 5px rgb(199, 199, 199);
  border-style:inset;
  border-radius: 5px;
  text-align: end;
  

}
.image-solar{
  width: 10vw;
}
.botao{
  width: 6vw;
  height: 6vw;
  font-size: 3vw;
  border: inset 5px grey;
  display: inline-block;
  text-align: center;
  text-justify: center;
  padding-top: auto;
  padding-bottom: auto;
  user-select: none;
  cursor: pointer;

}
.botao:active{
  border:inset 2px grey;
}